.appBar {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 50px;
    width: 1200px;
    margin: auto;
    height: 70px;
    align-items: center;
    color: #fff;
}
.appBarContainer {
    box-shadow: 0px 0px 10px 1px #333;
    width: 100%;
    margin: 0 auto;
    background: #444444;
}
.divTitle {
    display: flex;
    align-items: center;
}
.svgBars {
    width: 25px !important;
    height: 25px;
    margin-right: 20px
}
.svgBars:hover {
    cursor: pointer;
}
.titleMainPage {
    font-size: 25px;
    /* margin-left: 30px; */
}
.busca {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 7px;
    width: 350px;
    font-size: 15px;
    padding-left: 10px;
    color: #424242;
}
.titleWeb {
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    color: #f9f9f9;
}