.estabelecimentoPage {
    background: #f9f9f9;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 1px 1px 11px #aaa;
}

.headerSalao {
    padding: 20px;
}

.nomeSalao {
    font-size: 34px;
    color: #424242;
    letter-spacing: 2px;
}

.flexInfo {
    display: flex;
    align-items: center;
    margin: 15px 0px;
    letter-spacing: 1px;
}

.flexInfo img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.flexTopo {
    display: flex;
    justify-content: space-between;
}
.flexMapa {
    display: flex;
    align-items: center;
}
.iconMapa {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.flexInfo .iconFone {
    width: 22px;
    height: 20px;
}
.verMapa {
    font-size: 18px;
}
.verMapa:hover {
    text-decoration: underline
}
.flexMapa:hover {
    cursor: pointer;
}

.bodySalao {
    padding: 30px 20px;
    border-top: 1px solid #aaa;
}

.abaAtiva.abaGeral {
    background: #5f5f5f;
    font-size: 20px;
}

.tabs {
    display: flex;
    height: 50px;
    background: #aaa;
    color: #fff;
    align-items: center;
}
.abaGeral {
    width: 33.3%;
    display: flex;
    justify-content: center;
    height: 50px;
    border: 1px solid;
    align-items: center;
}
.aba.abaGeral:hover {
    cursor: pointer;
}

.flexBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.facilidadesSalao {
    display: flex;
    align-items: center;
}
.facilidadesSalao .flexInfo {
    margin-left: 30px;
}

.tabSelected.imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 50px 20px 50px;
}

.txtEscolher {
    font-size: 23px;
    margin-bottom: 15px;
    margin-left: 2px;
}

.secao {
    margin-bottom: 50px;
}
.listaProfissional {
    display: flex;
    flex-wrap: wrap;
}

.loaderAvaliacao {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.loaderCenter {
    text-align: center;
}


.rbc-allday-cell {
    display: none;
}
.rbc-time-view .rbc-header {
    border-bottom: none;
}
.rbc-event {
    min-height: 40px !important;
}
.rbc-day-slot .rbc-event-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rbc-current-time-indicator {
    height: 2px !important;
    background-color: #424242 !important;
    border-radius: 10px;
}

.Modal {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #FFF;
    color: #424242;
    box-shadow: 0px 0px 20px 3px #424242;
    z-index: 9999;
    border-radius: 10px;
    padding: 20px;
}

.Overlay {
    position: fixed;
    top: 300px;
    bottom: 300px;
    left: 25%;
    right: 25%;
    background-color: #FFF;
    border-radius: 10px;
    z-index: 9999;
    width: 50%;
}

.OverlayCancel {
    position: fixed;
    top: 370px;
    bottom: 370px;
    left: 25%;
    right: 25%;
    background-color: #FFF;
    border-radius: 10px;
    z-index: 9999;
    width: 50%;
}

.tituloMOdal {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
}

.background {
    width: 100%;
    height: 2000px;
    background: #000;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.corpoModal {
    margin-top: 20px;
}

.itemModal {
    margin-bottom: 20px;
    font-size: 23px;
}

.btnModal {
    margin: 0 20px;
    height: 35px;
    padding: 0 30px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btnsModal {
    position: absolute;
    bottom: 30px;
    width: 94%;
    justify-content: center;
    display: flex;
}

.btnModal.confirmar {
    background: #424242;
    color: #FFF;
}

.btnModal.cancelar {
    border: 1px solid #424242;
    color: #424242;
}