.modality {
    background: #fff;
    opacity: 0.8;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 30px;
    border-radius: 5px;
    position: relative;
}
.imgCycling,
.imgSwimming,
.imgTriathlon {
    width: 200px;
}
.imgRunning {
    width: 160px;
}
.modality img {
    position: absolute;
}
.titleModality {
    position: absolute;
    top: 15px;
    font-size: 30px;
    font-weight: 600;
}
.modality:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 5px #333;
    transform: scale(1.1);
}
a {
    color: #000;
}