.runningPage {
    margin: 75px auto;
    max-width: 93%;
}
.MuiExpansionPanel-root-1 {
    opacity: 0.9;
}
.MuiExpansionPanelSummary-content-35 {
    font-size: 20px;
}
.runningImgPage {
    width: 85px;
    height: 70px;
    margin-right: 20px;
}

.back {
    background: #fff;
    opacity: 0.8;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 5px;
    position: relative;
}
.imgBack {
    width: 200px;
}
.back img {
    position: absolute;
}
.titleBack {
    position: absolute;
    top: 15px;
    font-size: 30px;
    font-weight: 600;
}
.back:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 5px #333;
    transform: scale(1.1);
}

.containerForm {
    display: flex;
    margin-top: 50px;
}
.backHome {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divForm form {
    margin-top: 30px;
}
.divForm {
    width: 50%;
    background: #fff;
    opacity: 1;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 25px;
}
.lblCadastre {
    font-size: 23px;
    font-weight: 600;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}
.fieldInput input {
    height: 25px;
    width: 98%;
    padding-left: 5px;
    margin-bottom: 15px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid #888;
}
.fieldRadio {
    margin: 10px 0px;
}
.buttons {
    margin-top: 30px;
}
.buttons button {
    margin-right: 30px;
    height: 25px;
    width: 90px;
    font-size: 15px;
    cursor: pointer;
}


/*REGISTERED*/
.divRegistered {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.success {
    background: #fff;
    padding: 10px;
    border-radius: 2px;
    color: #21ce18;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 40px;
    border: 1px solid #000;
}
.buttonsRegistered button {
    margin: 0 20px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}
.buttonsRegistered {
    display: flex;
}