.cadastroEstabelecimento {
    background: url("../../images/destaque.jpg") no-repeat 0PX -840px fixed;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}
.backBlackCadastroEstabelecimento {
    background-color: #424242;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}
.boxCadastroEstabelecimento {
    background: #e3e3e3;
    border-radius: 10px;
    padding: 15px;
    width: 1120px;
    position: relative;
    margin: 0 auto;
    opacity: 0.9;
}
.titleBoxCadastroEstabelecimento {
    text-align: center;
    color: #424242;
    font-size: 24px;
    margin-top: 10px;
}
.inputArea {
    height: 100px;
    padding-left: 13px;
    padding-top: 15px;
}
.flexCampos {
    display: flex;
}
.divEstabelecimento {
    border-bottom: 1px solid #AAA;
    padding-bottom: 18px;
    padding-top: 15px;
}
.tituloField {
    font-size: 20px;
    color: #444444;
    margin-left: 15px;
}
.inputWidth {
    width: 30%
}
.checkTxt {
    color: #444444;
    margin-top: 3px;
    margin-left: 5px;
}
.checkboxInput {
    font-size: 16px
}
.checkInput {
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
}
.boxCadastrado {
    background: #e3e3e3;
    height: 250px;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    position: relative;
    margin: 0 auto;
    opacity: 0.9;
}
.footerButtonBack {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}